{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Sign Up Form</h1><br>
<h2>{{ error }}</h2>
<form method="POST" action="{% url 'signup' %}">
	<!-- csrf is cross site request forgery -->
	<!-- Refer  https://docs.djangoproject.com/en/2.2/ref/csrf/    for more details -->
	{% csrf_token %}
	Username : <br/>
	<input type="text" name="username" required> <br/><br/>

	Password : <br/>
	<input type="password" name="password1" required> <br/><br/>

	Confirm Password : <br>
	<input type="password" name="password2" required><br/><br/>

	<input class="btn-primary" type="submit" value="Sign Up">

</form>
</div>
{% endblock %}